{
  "prioritizedcontentfiles": [
    "Contoso/Azure Activity/Hunting Queries/AnalyticsRulesAdministrativeOperations.yaml",
    "Contoso/Azure Activity/Hunting Queries/Anomalous_Listing_Of_Storage_Keys.yaml"
  ], 
  "excludecontentfiles": [],
  "parameterfilemappings": {},
  "DummySection": "This shouldn't impact deployment"
}